.app {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background: linear-gradient(140deg, rgb(182 224 206) 0%, rgb(114 156 135) 16%, rgb(35 83 74) 93%);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}
